@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-neutral-100 text-black dark:bg-neutral-900 dark:text-white;
}

.flex::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Manrope", sans-serif;
}

h1 {
  @apply my-2 text-6xl font-bold;
}

h2 {
  @apply my-2 text-2xl font-bold;
}

span {
  @apply font-bold;
}

a {
  @apply duration-300 hover:text-indigo-600 hover:dark:text-indigo-400;
}

#arrow {
  @apply absolute top-1/2 z-10 my-5 hidden -translate-y-1/2 transform cursor-pointer rounded-full bg-white p-3 text-2xl text-black opacity-70 shadow duration-200 hover:opacity-90 lg:block dark:bg-neutral-500;
}

#more-info {
  @apply rounded-xl border-2 border-black px-3 py-2 text-sm font-bold text-black duration-200 hover:bg-indigo-400 dark:border-white dark:text-white;
}

#icon {
  @apply text-2xl duration-300 hover:text-indigo-600 lg:text-3xl dark:hover:text-indigo-400;
}

#overlay {
  text-shadow: 0 3px 3px rgb(0, 0, 0);
}
