@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-neutral-100 dark:bg-neutral-900 text-black dark:text-white;
}

.flex::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Manrope', sans-serif;
}

h1 {
  @apply text-6xl font-bold my-2;
}

h2{
  @apply text-2xl font-bold my-2;
}

span{
  @apply font-bold;
}

#arrow{
  @apply absolute bg-white dark:bg-neutral-600 text-black opacity-60
   hover:opacity-80 duration-200 rounded-full shadow p-3 my-5 cursor-pointer z-10 text-2xl
  top-1/2 transform -translate-y-1/2 hidden lg:block;
}

#more-info{
  @apply text-sm font-bold border-2 border-black dark:border-white text-black dark:text-white
   px-3 py-2 rounded-xl hover:bg-indigo-400 duration-200;
}

#icon {
  @apply text-3xl hover:text-indigo-600 dark:hover:text-indigo-400 duration-300;
}

#overlay{
  text-shadow: 0 3px 3px rgb(0, 0, 0);
}
