@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-white dark:bg-neutral-800 text-black dark:text-white;
}

.flex::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Manrope', sans-serif;
}

a {
  @apply text-sm lg:text-lg font-semibold text-black dark:text-white;
}

h1 {
  @apply text-6xl font-bold my-2;
}

h2{
  @apply text-2xl font-bold my-2;
}

span{
  @apply font-semibold;
}

#arrow{
  @apply absolute bg-white text-black border border-gray-300 opacity-60 
   hover:opacity-80 duration-200 rounded-full shadow p-3 my-5 cursor-pointer z-10 text-2xl
  top-1/2 transform -translate-y-1/2 hidden lg:block;
}

